.tab-styles {
  .list {
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px;

      &:hover {
        background-color: var(--color-gray-light);
      }

      .info {
        margin-right: 12px;
      }

      .group {
        flex: 0 1 auto;
      }
    }
  }
}
