@import 'colors.css';
@import 'components/index.css';

body {
  padding: 0 10px 10px;
  width: 300px;
}

.title {
  display: flex;
  align-items: center;
}

.title img {
  margin-right: 10px;
}

button.square {
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
  margin-top: 10px;
}

.actions {
  margin-bottom: 10px;
}

#stylesheet-urls {
  margin-top: 10px;
}

#stylesheet-urls > div {
  padding: 4px 8px;
}

#stylesheet-urls > div:nth-child(odd) {
  background-color: var(--color-gray-light);
}

.hide {
  display: none;
}
